/* Page background */

body{
background-color:#000;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
}

/* Center content */

.intro{
text-align:center;
}

/* SLP Title */

h1{
font-size:90px;
color:#ff3c00;
letter-spacing:6px;
text-shadow:0 0 25px rgba(255,60,0,0.8);
margin-bottom:10px;
}

/* Buttons */

button{
padding:12px 25px;
font-size:18px;
background:#ff3c00;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
transition:0.3s;
}

button:hover{
background:#ff5c2b;
transform:scale(1.05);
}

/* Inputs */

input{
padding:10px;
width:220px;
border-radius:5px;
border:none;
margin:5px;
text-align:center;
}

/* Grid layout for cards */

.goals{
display:grid;
grid-template-columns:repeat(2,260px);
gap:25px;
justify-content:center;
margin-top:30px;
}

/* Cards */

.goal-card{
background:#1a1a1a;
padding:25px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
border:2px solid transparent;
}

/* Card title */

.goal-card h3{
margin:0;
color:#ff3c00;
}

/* Card description */

.goal-card p{
font-size:14px;
opacity:0.8;
margin-top:8px;
}

/* Hover effect */

.goal-card:hover{
border:2px solid #ff3c00;
transform:scale(1.05);
background:#222;
}
.highlight{
color:#ff4b2b;
font-weight:bold;
border-bottom:2px solid #ff4b2b;
padding-bottom:3px;
}
.exercise-item{
display:flex;
align-items:center;
gap:10px;
margin:8px 0;
font-size:16px;
}

.exercise-item input{
transform:scale(1.2);
}
#exerciseList{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:12px;
max-width:900px;
margin:auto;
}

.exercise-card{
background:#1e1e1e;
padding:12px;
border-radius:8px;
text-align:left;
transition:0.2s;
}

.exercise-card:hover{
background:#2b2b2b;
transform:scale(1.03);
}

.exercise-card input{
margin-right:8px;
}